[Unit]
Description=Bind9 API Service
After=network.target

[Service]
ExecStart=/opt/bind9-api/0.1.0/bind9-api
Restart=always
RestartSec=5
User=nobody
Group=nogroup
Environment=GIN_MODE=release

[Install]
WantedBy=multi-user.target
